
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Clock Page */

.flags {
    margin: 0 auto;
    padding: 0;
}

.flags > * {
    list-style: none;
    padding:0;
    margin:10px 0;
    font-size: 2em;
}     

/* Alarms Page */
.disabled {
    color:rgba(0, 0, 0, 30%)!important
}
.enabled small{
    color: grey;
}

header {
    width: 100%;
    height: 32px;
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    header {
        margin-bottom: 50px;
    }
}

/* Chornometer */

.not-visible {
    display: none;
}
.visible{
    display: block;
}

.adjust {
    width: 100%;
    display: block;
}

small.leyend{
    font-size: 0.45em;
}


.drop-enter{
    color: #f00;
    border-color: #f00!important;
}


